.pot-button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    user-select: none;
    border-style: solid;
    font-weight: 500;
    line-height: 1;
    transition:
        color var(--pot-transition),
        border-color var(--pot-transition),
        background-color var(--pot-transition);
}

/* --- PotButton - Disabled --- */
.pot-button:disabled {
    cursor: not-allowed;
}

/* --- PotButton - Square --- */
.pot-button._square {
    padding: 0;
    aspect-ratio: 1 / 1;
}

/* ----------------------------------------------------------- */

.pot-button__icon {
    flex-shrink: 0;
}