/* NOT EDIT! This file generated automatically */

/* Color themes */
:root {
    --primary: #a35440;
    --primary-hover: #964734;
    --primary-active: #823e2e;
    --primary-text: var(--base-0);
}

/* Breakpoints */
$breakpoints: (
    mobile: 0px,
    tablet: 1024px,
    laptop: 1280px,
    desktop: 1440px,
)