/* NOT EDIT! THIS STYLES GENERATED AUTOMATICALLY! */
.pot-radio._color-pot {
    --radio-color-base-text: inherit;
    --radio-color-base-border: var(--color-subcolor);
    --radio-color-base-background: transparent;
    --radio-color-base-point: transparent;
    --radio-color-hover-text: inherit;
    --radio-color-hover-border: var(--color-hover-subcolor);
    --radio-color-hover-background: transparent;
    --radio-color-hover-point: transparent;
    --radio-color-checked-text: inherit;
    --radio-color-checked-border: var(--color-active-target);
    --radio-color-checked-background: var(--color-active-target);
    --radio-color-checked-point: var(--pot-base-0);
    --radio-color-invalid-text: inherit;
    --radio-color-invalid-border: var(--color-invalid-target);
    --radio-color-invalid-background: var(--color-invalid-target);
    --radio-color-invalid-point: var(--color-invalid-text);
    --radio-color-disabled-text: inherit;
    --radio-color-disabled-border: var(--color-disabled-target);
    --radio-color-disabled-background: var(--color-disabled-target);
    --radio-color-disabled-point: var(--pot-base-0);
}

.pot-radio._size-tiny {
    --radio-size-text: var(--pot-spacer-1-600);
    --radio-size-marker: var(--pot-spacer-1-600);
    --radio-size-marker-point: var(--pot-spacer-0-800);
    --radio-size-marker-border: 1px;
    --radio-size-gap: 0.4em;
}

.pot-radio._size-small {
    --radio-size-text: var(--pot-spacer-1-800);
    --radio-size-marker: var(--pot-spacer-1-800);
    --radio-size-marker-point: var(--pot-spacer);
    --radio-size-marker-border: 1px;
    --radio-size-gap: 0.4em;
}

.pot-radio._size-medium {
    --radio-size-text: var(--pot-spacer-2);
    --radio-size-marker: var(--pot-spacer-2);
    --radio-size-marker-point: var(--pot-spacer-1-200);
    --radio-size-marker-border: 1px;
    --radio-size-gap: 0.4em;
}

.pot-radio._size-large {
    --radio-size-text: var(--pot-spacer-2-400);
    --radio-size-marker: var(--pot-spacer-2-400);
    --radio-size-marker-point: var(--pot-spacer-1-600);
    --radio-size-marker-border: 1px;
    --radio-size-gap: 0.4em;
}

.pot-radio._radius-circle,
.pot-radio._radius-large,
.pot-radio._radius-medium,
.pot-radio._radius-small,
.pot-radio._radius-tiny,
.pot-radio._radius-radius--8,
.pot-radio._radius-radius--6,
.pot-radio._radius-radius--4,
.pot-radio._radius-radius--2 {
    --radio-radius: var(--radius);
}

.pot-radio {
    display: flex;
    align-items: center;
    font-size: inherit;
    font-weight: 400;
    line-height: 1;
    user-select: none;
    cursor: pointer;
    transition: color var(--pot-transition);
}

/* --- PotRadio - Active --- */
.pot-radio:not(._disabled)._active {
    cursor: default;
}

/* --- PotRadio - Invalid --- */
.pot-radio._invalid {
    color: inherit;
}

/* --- PotRadio - Disabled --- */
.pot-radio._disabled {
    cursor: not-allowed;
}

.pot-radio__marker {
    position: relative;
    border-style: solid;
    transition:
        color var(--pot-transition),
        background-color var(--pot-transition),
        border-color var(--pot-transition);
}

.pot-radio__marker:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    aspect-ratio: 1 / 1;
    border-radius: inherit;
    transform: translate(-50%, -50%);
    transition:
        background-color var(--pot-transition),
        transform var(--pot-transition);
}

.pot-radio {
    --radio-size-text: initial;           /* Размер текста */
    --radio-size-gap: initial;            /* Расстояние между текстом и маркером */
    --radio-size-marker: initial;         /* Размер маркера */
    --radio-size-marker-border: initial;  /* Толщина рамки маркера */
    --radio-size-marker-point: initial;   /* Размер точки в маркере */

    gap: var(--radio-size-gap);
    font-size: var(--radio-size-text);
}

.pot-radio__marker {
    width: var(--radio-size-marker);
    height: var(--radio-size-marker);
    border-width: var(--radio-size-marker-border);
}

.pot-radio__marker:before {
    width: var(--radio-size-marker-point);
}

.pot-radio {
    --radio-radius: initial;              /* Радиус */
}

.pot-radio__marker {
    border-radius: var(--radio-radius);
}

.pot-radio {
    --radio-color-base-text: initial;                         /* Цвет текста */
    --radio-color-base-border: initial;                       /* Цвет рамки маркера */
    --radio-color-base-background: initial;                   /* Цвет фона маркера */
    --radio-color-base-point: initial;                        /* Цвет точки маркера */

    color: var(--radio-color-base-text);
}

.pot-radio__marker {
    border-color: var(--radio-color-base-border);
    background-color: var(--radio-color-base-background);
    color: var(--radio-color-base-point);
}

.pot-radio__marker:before {
    background-color: var(--radio-color-base-point);
}

.pot-radio {
    --radio-color-hover-text: initial;                   /* Цвет текста при наведении */
    --radio-color-hover-border: initial;                 /* Цвет рамки маркера при наведении */
    --radio-color-hover-background: initial;             /* Цвет фона маркера при наведении */
    --radio-color-hover-point: initial;                  /* Цвет точки маркера при наведении */
}

.pot-radio:hover:not(._disabled, ._checked, ._invalid) {
    color: var(--radio-color-hover-text);
}

.pot-radio:hover:not(._disabled, ._checked, ._invalid) .pot-radio__marker {
    border-color: var(--radio-color-hover-border);
    background-color: var(--radio-color-hover-background);
    color: var(--radio-color-hover-point);
}

.pot-radio:hover:not(._disabled, ._checked, ._invalid) .pot-radio__marker:before {
    background-color: var(--radio-color-hover-point);
}

.pot-radio {
    --radio-color-checked-text: initial;                  /* Цвет текста при выборе */
    --radio-color-checked-border: initial;                /* Цвет рамки маркера при выборе */
    --radio-color-checked-background: initial;            /* Цвет фона маркера при выборе */
    --radio-color-checked-point: initial;                 /* Цвет точки маркера при выборе */
}

.pot-radio._checked:not(._disabled, ._invalid) {
    color: var(--radio-color-checked-text);
}

.pot-radio._checked:not(._disabled, ._invalid) .pot-radio__marker {
    border-color: var(--radio-color-checked-border);
    background-color: var(--radio-color-checked-background);
    color: var(--radio-color-checked-point);
}

.pot-radio._checked:not(._disabled, ._invalid) .pot-radio__marker:before {
    background-color: var(--radio-color-checked-point);
}

.pot-radio {
    --radio-color-invalid-text: initial;                  /* Цвет текста выбранного элемента при нажатии */
    --radio-color-invalid-border: initial;                /* Цвет рамки маркера выбранного элемента при нажатии */
    --radio-color-invalid-background: initial;            /* Цвет фона маркера выбранного элемента при нажатии */
    --radio-color-invalid-point: initial;                 /* Цвет точки маркера выбранного элемента при нажатии */
}

.pot-radio._invalid:not(._disabled) {
    color: var(--radio-color-invalid-text);
}

.pot-radio._invalid:not(._disabled) .pot-radio__marker {
    border-color: var(--radio-color-invalid-border);
    color: var(--radio-color-invalid-point);
}

.pot-radio._invalid._checked:not(._disabled) .pot-radio__marker {
    background-color: var(--radio-color-invalid-background);
}

.pot-radio._invalid._checked:not(._disabled) .pot-radio__marker:before {
    background-color: var(--radio-color-invalid-point);
}

.pot-radio {
    --radio-color-disabled-text: initial;                /* Цвет текста заблокированного элемента */
    --radio-color-disabled-border: initial;              /* Цвет рамки маркера заблокированного элемента */
    --radio-color-disabled-background: initial;          /* Цвет фона маркера заблокированного элемента */
    --radio-color-disabled-point: initial;               /* Цвет точки маркера заблокированного элемента */
}

.pot-radio._disabled {
    color: var(--radio-color-disabled-text);
}

.pot-radio._disabled .pot-radio__marker {
    border-color: var(--radio-color-disabled-border);
    color: var(--radio-color-disabled-point);
}

.pot-radio._disabled._checked .pot-radio__marker {
    background-color: var(--radio-color-disabled-background);
}

.pot-radio._disabled._checked .pot-radio__marker:before {
    background-color: var(--radio-color-disabled-point);
}