/* NOT EDIT! THIS STYLES GENERATED AUTOMATICALLY! */
.pot-checkbox._size-tiny {
    --checkbox-size-height: var(--pot-spacer-2);
    --checkbox-size-text: var(--pot-spacer-1-600);
    --checkbox-size-icon: var(--pot-spacer-1-400);
    --checkbox-size-border: 1px;
    --checkbox-size-gap: 0.4em;
}

.pot-checkbox._size-small {
    --checkbox-size-height: var(--pot-spacer-2-400);
    --checkbox-size-text: var(--pot-spacer-1-800);
    --checkbox-size-icon: var(--pot-spacer-1-600);
    --checkbox-size-border: 1px;
    --checkbox-size-gap: 0.4em;
}

.pot-checkbox._size-medium {
    --checkbox-size-height: var(--pot-spacer-2-800);
    --checkbox-size-text: var(--pot-spacer-2);
    --checkbox-size-icon: var(--pot-spacer-1-800);
    --checkbox-size-border: 1px;
    --checkbox-size-gap: 0.4em;
}

.pot-checkbox._size-large {
    --checkbox-size-height: var(--pot-spacer-3-200);
    --checkbox-size-text: var(--pot-spacer-2-400);
    --checkbox-size-icon: var(--pot-spacer-2);
    --checkbox-size-border: 1px;
    --checkbox-size-gap: 0.4em;
}