/* NOT EDIT! THIS STYLES GENERATED AUTOMATICALLY! */
.pot-link._size-tiny {
    --link-size-text: var(--pot-font-size-100);
    --link-size-line: 1px;
    --link-size-icon: var(--pot-font-size-100);
}

.pot-link._size-small {
    --link-size-text: var(--pot-font-size-200);
    --link-size-line: 1px;
    --link-size-icon: var(--pot-font-size-200);
}

.pot-link._size-medium {
    --link-size-text: var(--pot-font-size-300);
    --link-size-line: 2px;
    --link-size-icon: var(--pot-font-size-300);
}

.pot-link._size-large {
    --link-size-text: var(--pot-font-size-400);
    --link-size-line: 2px;
    --link-size-icon: var(--pot-font-size-400);
}