/* NOT EDIT! THIS STYLES GENERATED AUTOMATICALLY! */
.pot-radio._size-tiny {
    --radio-size-text: var(--pot-spacer-1-600);
    --radio-size-marker: var(--pot-spacer-1-600);
    --radio-size-marker-point: var(--pot-spacer-0-800);
    --radio-size-marker-border: 1px;
    --radio-size-gap: 0.4em;
}

.pot-radio._size-small {
    --radio-size-text: var(--pot-spacer-1-800);
    --radio-size-marker: var(--pot-spacer-1-800);
    --radio-size-marker-point: var(--pot-spacer);
    --radio-size-marker-border: 1px;
    --radio-size-gap: 0.4em;
}

.pot-radio._size-medium {
    --radio-size-text: var(--pot-spacer-2);
    --radio-size-marker: var(--pot-spacer-2);
    --radio-size-marker-point: var(--pot-spacer-1-200);
    --radio-size-marker-border: 1px;
    --radio-size-gap: 0.4em;
}

.pot-radio._size-large {
    --radio-size-text: var(--pot-spacer-2-400);
    --radio-size-marker: var(--pot-spacer-2-400);
    --radio-size-marker-point: var(--pot-spacer-1-600);
    --radio-size-marker-border: 1px;
    --radio-size-gap: 0.4em;
}