/* NOT EDIT! THIS STYLES GENERATED AUTOMATICALLY! */
.pot-tooltip._color-pot {
    --tooltip-color-base-shadow: var(--pot-shadow-300);
    --tooltip-color-base-background: var(--pot-base-0);
    --tooltip-color-base-text: inherit;
}

.pot-tooltip._size-tiny {
    --tooltip-size-text: var(--pot-font-size-200);
    --tooltip-size-padding: var(--pot-spacer-1-200);
}

.pot-tooltip._size-small {
    --tooltip-size-text: var(--pot-font-size-300);
    --tooltip-size-padding: var(--pot-spacer-1-600);
}

.pot-tooltip._size-medium {
    --tooltip-size-text: var(--pot-font-size-400);
    --tooltip-size-padding: var(--pot-spacer-2);
}

.pot-tooltip._size-large {
    --tooltip-size-text: var(--pot-font-size-500);
    --tooltip-size-padding: var(--pot-spacer-2-400);
}

.pot-tooltip._radius-circle,
.pot-tooltip._radius-large,
.pot-tooltip._radius-medium,
.pot-tooltip._radius-small,
.pot-tooltip._radius-tiny,
.pot-tooltip._radius-radius--8,
.pot-tooltip._radius-radius--6,
.pot-tooltip._radius-radius--4,
.pot-tooltip._radius-radius--2 {
    --tooltip-radius: var(--radius);
}

.pot-tooltip {
    position: absolute;
}

/* SIZES */
.pot-tooltip {
    --tooltip-size-padding: initial;
    --tooltip-size-text: initial;
}

.pot-tooltip__wrapper {
    padding: var(--tooltip-size-padding);
    font-size: var(--tooltip-size-text);
}

/* RADIUS */
.pot-button {
    --tooltip-radius: initial;                  /* Радиус */
}

.pot-tooltip__wrapper {
    border-radius: var(--tooltip-radius);
}

.pot-tooltip {
    --tooltip-color-base-shadow: initial;
    --tooltip-color-base-background: initial;
    --tooltip-color-base-text: initial;
}

.pot-tooltip__wrapper {
    box-shadow: var(--tooltip-color-base-shadow);
    background-color: var(--tooltip-color-base-background);
    color: var(--tooltip-color-base-text);
}