/* NOT EDIT! THIS STYLES GENERATED AUTOMATICALLY! */
.pot-link._color-pot {
    --link-color-base-text: inherit;
    --link-color-base-icon: inherit;
    --link-color-base-line: var(--color-target);
    --link-color-hover-text: var(--color-target);
    --link-color-hover-icon: var(--color-target);
    --link-color-hover-line: var(--color-target);
    --link-color-active-text: var(--color-active-target);
    --link-color-active-icon: var(--color-active-target);
    --link-color-active-line: var(--color-active-target);
    --link-color-underline-text: inherit;
    --link-color-underline-icon: inherit;
    --link-color-underline-line: var(--color-target);
    --link-color-underline-hover-text: inherit;
    --link-color-underline-hover-icon: inherit;
    --link-color-underline-hover-line: var(--color-target);
    --link-color-disabled-text: var(--color-disabled-target);
    --link-color-disabled-icon: var(--color-disabled-target);
    --link-color-disabled-line: var(--color-disabled-target);
}

.pot-link._size-tiny {
    --link-size-text: var(--pot-font-size-200);
    --link-size-line: 1px;
    --link-size-icon: var(--pot-font-size-200);
}

.pot-link._size-small {
    --link-size-text: var(--pot-font-size-400);
    --link-size-line: 2px;
    --link-size-icon: var(--pot-font-size-400);
}

.pot-link._size-medium {
    --link-size-text: var(--pot-font-size-500);
    --link-size-line: 2px;
    --link-size-icon: var(--pot-font-size-500);
}

.pot-link._size-large {
    --link-size-text: var(--pot-font-size-600);
    --link-size-line: 2px;
    --link-size-icon: var(--pot-font-size-600);
}

.pot-link {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.2em;
    font-weight: 500;
    line-height: 1;
    width: fit-content;
    font-size: inherit;
    user-select: none;
    cursor: pointer;
    transition:
        opacity var(--pot-transition),
        color var(--pot-transition);
}

/* --- Underline --- */ 
.pot-link._underline:after {
    content: '';
}

.pot-link._underline:hover:not(._disabled):after {
    transform: translateY(100%) scaleX(1);
}

.pot-link._underline._active:not(._disabled):after {
    transform: translateY(100%) scaleX(1);
} 

/* --- Active --- */ 
.pot-link._active:not(._disabled) {
    cursor: default;
}

/* --- Disabled --- */
.pot-link._disabled {
    cursor: not-allowed;
}

.pot-link:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform-origin: left;
    transform: translateY(100%) scaleX(0);
    transition:
        background-color var(--pot-transition),
        transform var(--pot-transition);
}

.pot-link__icon {
    flex-shrink: 0;
}

/* SIZES */
.pot-link {
    --link-size-text: initial;           /* Размер текста */
    --link-size-line: initial;           /* Размер подчеркивания */
    --link-size-icon: initial;           /* Размер подчеркивания */

    font-size: var(--link-size-text);
}

.pot-link:after {
    height: var(--link-size-line);
}

.pot-link__icon {
    width: var(--link-size-icon);
}

.pot-link {
    --link-color-base-text: initial;    /* Цвет текста */
    --link-color-base-icon: initial;    /* Цвет иконки */
    --link-color-base-line: initial;    /* Цвет линии */

    color: var(--link-color-base-text);
}

.pot-link:after {
    background-color: var(--link-color-base-line);
}

.pot-link__icon {
    color: var(--link-color-base-icon);
}

.pot-link {
    --link-color-hover-text: initial;   /* Цвет текста при наведении */
    --link-color-hover-icon: initial;   /* Цвет иконки при наведении */
    --link-color-hover-line: initial;   /* Цвет линии при наведении */
}

.pot-link:hover:not(._disabled, ._active) {
    color: var(--link-color-hover-text);
}

.pot-link:hover:not(._disabled, ._active):after {
    background-color: var(--link-color-hover-line);
}

.pot-link:hover:not(._disabled, ._active) .pot-link__icon {
    color: var(--link-color-hover-icon);
}

.pot-link {
    --link-color-active-text: initial;  /* Цвет текста активной ссылки */
    --link-color-active-icon: initial;  /* Цвет иконки активной ссылки */
    --link-color-active-line: initial;  /* Цвет линии активной ссылки */
}

.pot-link._active:not(._disabled) {
    color: var(--link-color-active-text);
}

.pot-link._active:not(._disabled):after {
    background-color: var(--link-color-active-line);
}

.pot-link._active:not(._disabled) .pot-link__icon {
    color: var(--link-color-active-icon);
}

.pot-link {
    --link-color-underline-text: initial;   /* Цвет текста подчеркнутой ссылки */
    --link-color-underline-icon: initial;   /* Цвет иконки подчеркнутой ссылки */
    --link-color-underline-line: initial;   /* Цвет линии подчеркнутой ссылки */
}

.pot-link._underline:not(._disabled, ._active) {
    color: var(--link-color-underline-text);
}

.pot-link._underline:not(._disabled, ._active):after {
    background-color: var(--link-color-underline-line);
}

.pot-link._underline:not(._disabled, ._active) .pot-link__icon {
    color: var(--link-color-underline-icon);
}

.pot-link {
    --link-color-underline-hover-text: initial;   /* Цвет текста подчеркнутой ссылки при наведении */
    --link-color-underline-hover-icon: initial;   /* Цвет иконки подчеркнутой ссылки при наведении */
    --link-color-underline-hover-line: initial;   /* Цвет линии подчеркнутой ссылки при наведении */
}

.pot-link._underline:hover:not(._disabled, ._active) {
    color: var(--link-color-underline-hover-text);
}

.pot-link._underline:hover:not(._disabled, ._active):after {
    background-color: var(--link-color-underline-hover-line);
}

.pot-link._underline:hover:not(._disabled, ._active) .pot-link__icon {
    color: var(--link-color-underline-hover-icon);
}

.pot-link {
    --link-color-disabled-text: initial;   /* Цвет текста заблокированной ссылки */
    --link-color-disabled-icon: initial;   /* Цвет иконки заблокированной ссылки */
    --link-color-disabled-line: initial;   /* Цвет линии заблокированной ссылки */
}

.pot-link._disabled {
    color: var(--link-color-disabled-text);
}

.pot-link._disabled:after {
    background-color: var(--link-color-disabled-line);
}

.pot-link._disabled .pot-link__icon {
    color: var(--link-color-disabled-icon);
}