/* NOT EDIT! This file generated automatically */

/* Color themes */
$pot-themes: (
    primary: (
        target: (
            color: var(--pot-color-sea-400),
            border: var(--pot-color-sea-400),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-400),
        ),
        hover: (
            color: var(--pot-color-sea-300),
            border: var(--pot-color-sea-300),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-500),
        ),
        active: (
            color: var(--pot-color-sea-400),
            border: var(--pot-color-sea-400),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-500),
        ),
        disabled: (
            color: var(--pot-base-400),
            border: var(--pot-base-400),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-400),
        ),
    ),
    onion: (
        target: (
            color: var(--pot-color-peach-400),
            border: var(--pot-color-peach-400),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-400),
        ),
        hover: (
            color: var(--pot-color-peach-300),
            border: var(--pot-color-peach-300),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-500),
        ),
        active: (
            color: var(--pot-color-peach-400),
            border: var(--pot-color-peach-400),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-500),
        ),
        disabled: (
            color: var(--pot-base-400),
            border: var(--pot-base-400),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-400),
        ),
    ),
    cucumber: (
        target: (
            color: var(--pot-color-green-300),
            border: var(--pot-color-green-300),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-400),
        ),
        hover: (
            color: var(--pot-color-green-200),
            border: var(--pot-color-green-200),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-500),
        ),
        active: (
            color: var(--pot-color-green-400),
            border: var(--pot-color-green-400),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-500),
        ),
        disabled: (
            color: var(--pot-base-400),
            border: var(--pot-base-400),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-400),
        ),
    ),
    beetrot: (
        target: (
            color: var(--pot-color-red-300),
            border: var(--pot-color-red-300),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-400),
        ),
        hover: (
            color: var(--pot-color-red-200),
            border: var(--pot-color-red-200),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-500),
        ),
        active: (
            color: var(--pot-color-red-400),
            border: var(--pot-color-red-400),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-500),
        ),
        disabled: (
            color: var(--pot-base-400),
            border: var(--pot-base-400),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-400),
        ),
    ),
    corn: (
        target: (
            color: var(--pot-color-yellow-300),
            border: var(--pot-color-yellow-300),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-400),
        ),
        hover: (
            color: var(--pot-color-yellow-200),
            border: var(--pot-color-yellow-200),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-500),
        ),
        active: (
            color: var(--pot-color-yellow-400),
            border: var(--pot-color-yellow-400),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-500),
        ),
        disabled: (
            color: var(--pot-base-400),
            border: var(--pot-base-400),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-400),
        ),
    ),
    pot: (
        target: (
            color: var(--pot-color-grey-200),
            border: var(--pot-color-grey-200),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-400),
        ),
        hover: (
            color: var(--pot-color-grey-300),
            border: var(--pot-color-grey-300),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-500),
        ),
        active: (
            color: var(--pot-color-grey-200),
            border: var(--pot-color-grey-200),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-500),
        ),
        disabled: (
            color: var(--pot-base-300),
            border: var(--pot-base-300),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-400),
        ),
    ),
);

/* Breakpoints */
$pot-breakpoints: (
    mobile: 0px,
    tablet: 768px,
    laptop: 1280px,
    desktop: 1440px,
);

/* Sizes */
$pot-size-scales: (
    tiny: 0.6,
    small: 0.8,
    medium: 1,
    big: 1.2,
    large: 1.4,
);