/* Font formats */
$pot-font-formats: (
    ttf: 'truetype',
    otf: 'opentype',
    woff: 'woff',
    woff2: 'woff2',
);

/* Border radius */
$pot-radius: (
    circle: var(--pot-radius-circle),
    large: var(--pot-radius-large),
    big: var(--pot-radius-big),
    medium: var(--pot-radius-medium),
    small: var(--pot-radius-small),
    tiny: var(--pot-radius-tiny),
);

$pot-gap: (
    large: var(--pot-gap-large),
    big: var(--pot-gap-big),
    medium: var(--pot-gap-medium),
    small: var(--pot-gap-small),
    tiny: var(--pot-gap-tiny),
);

/* Text */
$pot-text-properties: 'font-size' 'font-weight' 'line-height' 'letter-spacing';
$pot-text-sizes: (
    // Headings
    h0: var(--pot-font-size-1000) 500 150% null,
    h1: var(--pot-font-size-900) 500 150% null,
    h2: var(--pot-font-size-800) 500 150% null,
    h3: var(--pot-font-size-700) 500 150% null,
    h4: var(--pot-font-size-600) 500 150% null,
    h5: var(--pot-font-size-500) 500 150% null,
    h6: var(--pot-font-size-400) 500 150% null,
    h7: var(--pot-font-size-300) 500 150% null,
    h8: var(--pot-font-size-200) 500 150% null,
    h9: var(--pot-font-size-100) 500 150% null,
    h10: var(--pot-font-size-0) 500 150% null,

    // Labels
    l0: var(--pot-font-size-1000) 500 1 null,
    l1: var(--pot-font-size-900) 500 1 null,
    l2: var(--pot-font-size-800) 500 1 null,
    l3: var(--pot-font-size-700) 500 1 null,
    l4: var(--pot-font-size-600) 500 1 null,
    l5: var(--pot-font-size-500) 500 1 null,
    l6: var(--pot-font-size-400) 500 1 null,
    l7: var(--pot-font-size-300) 500 1 null,
    l8: var(--pot-font-size-200) 500 1 null,
    l9: var(--pot-font-size-100) 500 1 null,
    l10: var(--pot-font-size-0) 500 150% null,

    // Paragraphs
    p0: var(--pot-font-size-1000) 400 150% null,
    p1: var(--pot-font-size-900) 400 150% null,
    p2: var(--pot-font-size-800) 400 150% null,
    p3: var(--pot-font-size-700) 400 150% null,
    p4: var(--pot-font-size-600) 400 150% null,
    p5: var(--pot-font-size-500) 400 150% null,
    p6: var(--pot-font-size-400) 400 150% null,
    p7: var(--pot-font-size-300) 400 150% null,
    p8: var(--pot-font-size-200) 400 150% null,
    p9: var(--pot-font-size-100) 400 150% null,
    p10: var(--pot-font-size-0) 400 150% null,

    // Text
    t0: var(--pot-font-size-1000) 400 1 null,
    t1: var(--pot-font-size-900) 400 1 null,
    t2: var(--pot-font-size-800) 400 1 null,
    t3: var(--pot-font-size-700) 400 1 null,
    t4: var(--pot-font-size-600) 400 1 null,
    t5: var(--pot-font-size-500) 400 1 null,
    t6: var(--pot-font-size-400) 400 1 null,
    t7: var(--pot-font-size-300) 400 1 null,
    t8: var(--pot-font-size-200) 400 1 null,
    t9: var(--pot-font-size-100) 400 1 null,
    t10: var(--pot-font-size-0) 400 1 null
);
