/*  Fonts */
$base-font-size: 1.6rem;
$base-font: sans-serif;

/* Colors */
$body-color: #373a41;

$base-0: #ffffff;
$base-100: #f3f5f7;
$base-200: #e7eaed;
$base-300: #d3d9df;
$base-400: #acaebb;
$base-500: #5f6473;
$base-600: #373a41;
$base-800: #1c1e26;
$base-900: #111;

$success-400: #e9f7e9;
$success-500: #68cc58;
$error-300: #f2958b;
$error-400: #e66355;
$error-500: #ea4e3d;

$soup-pot: #f87531;

$clay-pot-0: #a35440;
$clay-pot-100: #964734;
$clay-pot-200: #823e2e;

/* Breakpoints */
$breakpoints: (
    mobile: 0,
    tablet-sm: 768px,
    tablet: 1024px,
    laptop: 1280px,
    desktop: 1440px,
);

$default-size-breakpoints: 'desktop' 'tablet' 'mobile';

/* Font formats */
$font-formats: (
    ttf: 'truetype',
    otf: 'opentype',
    woff: 'woff',
    woff2: 'woff2',
);

/* Text */
$text-properties: 'font-size' 'line-height' 'letter-spacing';
$text-sizes: (
    // Headings
    h0: 4rem 5rem -0.8px,
    h1: 3.2rem 4rem -0.64px,
    h2: 2.4rem 3.2rem -0.48px,

    // Labels
    l1: 2rem 2.2rem -0.2px,
    l2: 1.6rem 1.8rem -0.16px,
    l3: 1.4rem 1.6rem -0.14px,
    l4: 1.2rem 1.4rem -0.12px,

    // Text
    t0: 2rem 2.4rem null,
    t1: 1.8rem 2.4rem null,
    t2: 1.6rem 2.2rem null,
    t3: 1.4rem 2rem null,
    t4: 1.2rem 1.6rem null,

    // Paragraphs
    p1: 1.8rem 2.8rem null,
    p2: 1.6rem 2.4rem null,
    p3: 1.4rem 2.2rem null,
    p4: 1.2rem 1.8rem null
);

/* Transitions */
$default-transition: 0.4s ease;
