:root {
    --pot-spacer: 1rem;
    --pot-unit: calc(var(--pot-spacer) / 2);

    /* Spacing */
    --pot-spacer-0-400: calc(var(--pot-spacer) * 0.4);
    --pot-spacer-0-600: calc(var(--pot-spacer) * 0.6);
    --pot-spacer-0-800: calc(var(--pot-spacer) * 0.8);
    --pot-spacer-1-200: calc(var(--pot-spacer) * 1.2);
    --pot-spacer-1-400: calc(var(--pot-spacer) * 1.4);
    --pot-spacer-1-600: calc(var(--pot-spacer) * 1.6);
    --pot-spacer-1-800: calc(var(--pot-spacer) * 1.8);
    --pot-spacer-2: calc(var(--pot-spacer) * 2);
    --pot-spacer-2-400: calc(var(--pot-spacer) * 2.4);
    --pot-spacer-3: calc(var(--pot-spacer) * 3);
    --pot-spacer-3-200: calc(var(--pot-spacer) * 3.2);
    --pot-spacer-4: calc(var(--pot-spacer) * 4);
    --pot-spacer-4-800: calc(var(--pot-spacer) * 4.8);
    --pot-spacer-5-600: calc(var(--pot-spacer) * 5.6);
    --pot-spacer-6: calc(var(--pot-spacer) * 6);
    --pot-spacer-6-400: calc(var(--pot-spacer) * 6.4);
    --pot-spacer-7-200: calc(var(--pot-spacer) * 7.2);
    --pot-spacer-8: calc(var(--pot-spacer) * 8);
    --pot-spacer-10: calc(var(--pot-spacer) * 10);

    /* Radius */
    --pot-radius-circle: calc(var(--pot-spacer) * 100);
    --pot-radius-large: var(--pot-spacer-1-400);
    --pot-radius-big: var(--pot-spacer-1-200);
    --pot-radius-medium: var(--pot-spacer-0-800);
    --pot-radius-small: var(--pot-spacer-0-600);
    --pot-radius-tiny: var(--pot-spacer-0-400);

    /* Font-size */
    --pot-font-size-0: var(--pot-spacer);
    --pot-font-size-100: var(--pot-spacer-1-200);
    --pot-font-size-200: var(--pot-spacer-1-400);
    --pot-font-size-300: var(--pot-spacer-1-600);
    --pot-font-size-400: var(--pot-spacer-1-800);
    --pot-font-size-500: var(--pot-spacer-2);
    --pot-font-size-600: var(--pot-spacer-2-400);
    --pot-font-size-700: var(--pot-spacer-3-200);
    --pot-font-size-800: var(--pot-spacer-4-800);
    --pot-font-size-900: var(--pot-spacer-6-400);
    --pot-font-size-1000: var(--pot-spacer-7-200);

    /* Transition */
    --pot-transition: 0.4s ease;

    /* Colors */
    --pot-base-0: #ffffff;
    --pot-base-100: #f3f5f7;
    --pot-base-200: #e7eaed;
    --pot-base-300: #d3d9df;
    --pot-base-400: #acaebb;
    --pot-base-500: #5f6473;
    --pot-base-600: #373a41;
    --pot-base-800: #1c1e26;
    --pot-base-900: #111;

    --pot-color-blue-100: #c5dcf8;
    --pot-color-blue-200: #5e9dec;
    --pot-color-blue-300: #408be9;
    --pot-color-blue-400: #1762c0;

    --pot-color-sea-100: #abaaff;
    --pot-color-sea-200: #8988ff;
    --pot-color-sea-300: #7977ff;
    --pot-color-sea-400: #5755ff;

    --pot-color-peach-100: #ffc7b5;
    --pot-color-peach-200: #ffb197;
    --pot-color-peach-300: #ffa589;
    --pot-color-peach-400: #ff8f6b;

    --pot-color-pale-100: #f4f3ff;
    --pot-color-pale-200: #ecebff;
    --pot-color-pale-300: #e1dfff;
    --pot-color-pale-400: #d9d7ff;

    --pot-color-green-100: #30f5a9;
    --pot-color-green-200: #0acf83;
    --pot-color-green-300: #09ba76;
    --pot-color-green-400: #078755;

    --pot-color-grey-100: var(--pot-base-300);
    --pot-color-grey-200: var(--pot-base-400);
    --pot-color-grey-300: var(--pot-base-500);
    --pot-color-grey-400: var(--pot-base-600);

    --pot-color-orange-100: #ffdcc1;
    --pot-color-orange-200: #ff994d;
    --pot-color-orange-300: #ff862c;
    --pot-color-orange-400: #d85c00;

    --pot-color-red-100: #f8bbc1;
    --pot-color-red-200: #ed5564;
    --pot-color-red-300: #ea3849;
    --pot-color-red-400: #bd1425;

    --pot-color-yellow-100: #fce7ae;
    --pot-color-yellow-200: #f7c844;
    --pot-color-yellow-300: #f6bf26;
    --pot-color-yellow-400: #c49308;

    /* --- Sizes --- */
    --pot-standard-size-height: var(--pot-spacer-4);
    --pot-standard-size-text: var(--pot-font-size-400);

    /* --- COMPONENTS SIZES --- */
    /* --- PotSwitch - sizes ---*/
    --pot-switch-size-height: var(--pot-standard-size-height);
    --pot-switch-size-text: var(--pot-standard-size-text);
    --pot-switch-size-wrapper-padding: var(--pot-spacer-0-400);
    --pot-switch-size-label-padding: var(--pot-spacer-1-200);

    /* --- PotButton - sizes ---*/
    --pot-button-size-height: var(--pot-standard-size-height);
    --pot-button-size-text: var(--pot-standard-size-text);
    --pot-button-size-border: 1px;
    --pot-button-size-padding: var(--pot-spacer-1-400);
    --pot-button-size-label-padding: var(--pot-spacer-1-200);

    /* --- PotCheckbox - sizes ---*/
    --pot-checkbox-size-height: var(--pot-spacer-2-400);
    --pot-checkbox-size-text: var(--pot-standard-size-text);

    /* --- PotRadioElement - sizes ---*/
    --pot-radio-size-text: var(--pot-standard-size-text);
    --pot-radio-size-marker: var(--pot-spacer-1-200);
    --pot-radio-gap: var(--pot-spacer-1-600);
}

/* --- COMPONENTS - COLORS --- */
* {
    /* --- PotButton --- */
    --pot-button-border-color: var(--pot-theme-target-border);
    --pot-button-background-color: var(--pot-theme-target-color);
    --pot-button-text-color: var(--pot-theme-target-text);

    --pot-button-active-border-color: var(--pot-theme-active-border);
    --pot-button-active-background-color: var(--pot-theme-active-color);
    --pot-button-active-text-color: var(--pot-theme-active-text);

    --pot-button-hover-border-color: var(--pot-theme-hover-border);
    --pot-button-hover-background-color: var(--pot-theme-hover-color);
    --pot-button-hover-text-color: var(--pot-theme-hover-text);

    --pot-button-disabled-border-color: var(--pot-theme-disabled-border);
    --pot-button-disabled-background-color: var(--pot-theme-disabled-color);
    --pot-button-disabled-text-color: var(--pot-theme-disabled-text);

    /* --- PotCheckbox --- */
    --pot-checkbox-text-color: inherit;
    --pot-checkbox-background-color: transparent;
    --pot-checkbox-border-color: var(--pot-base-600);
    --pot-checkbox-icon-color: var(--pot-theme-target-text);

    --pot-checkbox-checked-background-color: var(--pot-theme-target-color);
    --pot-checkbox-checked-border-color: var(--pot-theme-target-border);
    --pot-checkbox-checked-icon-color: var(--pot-theme-target-text);

    /* --- PotRadioElement --- */
    --pot-radio-text-color: inherit;
    --pot-radio-marker-border-color: var(--pot-base-400);
    --pot-radio-marker-background-color: transparent;
    --pot-radio-marker-color: var(--pot-theme-target-color);
    --pot-radio-marker-point-color: var(--pot-base-0);

    /* --- PotLink --- */
    --pot-link-text-color: inherit;
    --pot-link-hover-text-color: var(--pot-theme-hover-color);
    --pot-link-active-text-color: var(--pot-theme-active-color);
    --pot-link-disabled-text-color: var(--pot-theme-disabled-color);

    --pot-link-underline-color: var(--pot-theme-target-color);
    --pot-link-underline-hover-color: var(--pot-theme-target-color);
    --pot-link-underline-active-color: var(--pot-theme-active-color);

    --pot-link-underline-text-color: inherit;
    --pot-link-underline-hover-text-color: inherit;
    --pot-link-underline-active-text-color: inherit;

    /* --- PotInputBase --- */
    --pot-input-text-color: inherit;
    --pot-input-border-color: var(--pot-theme-target-subcolor);
    --pot-input-icon-color: var(--pot-theme-target-subcolor);
    --pot-input-target-text-color: inherit;
    --pot-input-target-background-color: var(--pot-base-0);

    --pot-input-disabled-text-color: inherit;
    --pot-input-disabled-border-color: var(--pot-theme-disabled-color);
    --pot-input-disabled-icon-color: var(--pot-theme-disabled-color);
    --pot-input-disabled-target-text-color: var(--pot-theme-disabled-color);
    --pot-input-disabled-target-background-color: var(--pot-base-0);

    --pot-input-focused-text-color: inherit;
    --pot-input-focused-border-color: var(--pot-theme-target-color);
    --pot-input-focused-icon-color: var(--pot-theme-target-color);
    --pot-input-focused-target-text-color: inherit;
    --pot-input-focused-target-background-color: var(--pot-base-0);

    /* --- PotSwitch --- */
    --pot-switch-false-color: var(--pot-theme-target-subcolor);
    --pot-switch-true-color: var(--pot-theme-target-color);
    --pot-switch-icon-false-color: var(--pot-theme-target-subcolor);
    --pot-switch-icon-true-color: var(--pot-theme-target-color);
    --pot-switch-ball-false-color: var(--pot-theme-target-text);
    --pot-switch-ball-true-color: var(--pot-theme-target-text);
    --pot-switch-content-false-color: var(--pot-theme-target-text);
    --pot-switch-content-true-color: var(--pot-theme-target-text);
}

$pot-size-scales: (
    tiny: 0.6,
    small: 0.8,
    medium: 1,
    big: 1.2,
    large: 1.4,
);

/* Theme */
$pot-themes: (
    primary: (
        target: (
            color: var(--pot-color-sea-400),
            border: var(--pot-color-sea-400),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-200),
        ),

        hover: (
            color: var(--pot-color-sea-300),
            border: var(--pot-color-sea-300),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-200),
        ),

        active: (
            color: var(--pot-color-sea-400),
            border: var(--pot-color-sea-400),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-200),
        ),

        disabled: (
            color: var(--pot-base-500),
            border: var(--pot-base-500),
            text: var(--pot-base-0),
            subcolor: var(--pot-base-200),
        ),
    ),
);

/* Font formats */
$pot-font-formats: (
    ttf: 'truetype',
    otf: 'opentype',
    woff: 'woff',
    woff2: 'woff2',
);

/* Border radius */
$pot-radius: (
    circle: var(--pot-radius-circle),
    large: var(--pot-radius-large),
    big: var(--pot-radius-big),
    medium: var(--pot-radius-medium),
    small: var(--pot-radius-small),
    tiny: var(--pot-radius-tiny),
);

/* Text */
$pot-text-properties: 'font-size' 'font-weight' 'line-height' 'letter-spacing';
$pot-text-sizes: (
    // Headings
    h0: var(--pot-font-size-1000) 500 150% null,
    h1: var(--pot-font-size-900) 500 150% null,
    h2: var(--pot-font-size-800) 500 150% null,
    h3: var(--pot-font-size-700) 500 150% null,
    h4: var(--pot-font-size-600) 500 150% null,
    h5: var(--pot-font-size-500) 500 150% null,
    h6: var(--pot-font-size-400) 500 150% null,
    h7: var(--pot-font-size-300) 500 150% null,
    h8: var(--pot-font-size-200) 500 150% null,
    h9: var(--pot-font-size-100) 500 150% null,
    h10: var(--pot-font-size-0) 500 150% null,

    // Labels
    l0: var(--pot-font-size-1000) 500 1 null,
    l1: var(--pot-font-size-900) 500 1 null,
    l2: var(--pot-font-size-800) 500 1 null,
    l3: var(--pot-font-size-700) 500 1 null,
    l4: var(--pot-font-size-600) 500 1 null,
    l5: var(--pot-font-size-500) 500 1 null,
    l6: var(--pot-font-size-400) 500 1 null,
    l7: var(--pot-font-size-300) 500 1 null,
    l8: var(--pot-font-size-200) 500 1 null,
    l9: var(--pot-font-size-100) 500 1 null,
    l10: var(--pot-font-size-0) 500 150% null,

    // Paragraphs
    p0: var(--pot-font-size-1000) 400 150% null,
    p1: var(--pot-font-size-900) 400 150% null,
    p2: var(--pot-font-size-800) 400 150% null,
    p3: var(--pot-font-size-700) 400 150% null,
    p4: var(--pot-font-size-600) 400 150% null,
    p5: var(--pot-font-size-500) 400 150% null,
    p6: var(--pot-font-size-400) 400 150% null,
    p7: var(--pot-font-size-300) 400 150% null,
    p8: var(--pot-font-size-200) 400 150% null,
    p9: var(--pot-font-size-100) 400 150% null,
    p10: var(--pot-font-size-0) 400 150% null,

    // Text
    t0: var(--pot-font-size-1000) 400 1 null,
    t1: var(--pot-font-size-900) 400 1 null,
    t2: var(--pot-font-size-800) 400 1 null,
    t3: var(--pot-font-size-700) 400 1 null,
    t4: var(--pot-font-size-600) 400 1 null,
    t5: var(--pot-font-size-500) 400 1 null,
    t6: var(--pot-font-size-400) 400 1 null,
    t7: var(--pot-font-size-300) 400 1 null,
    t8: var(--pot-font-size-200) 400 1 null,
    t9: var(--pot-font-size-100) 400 1 null,
    t10: var(--pot-font-size-0) 400 1 null
);
