/* CONDITIONS
base - базовые стили
hover - стили при наведении
pressed - стили при нажатии
disabled - стили у неактивной кнопки
*/

/* CONDITION:base - START */
.pot-button {
    --button-color-base-border: initial;                     /* Цвет рамки */
    --button-color-base-background: initial;                 /* Цвет фона */
    --button-color-base-text: initial;                       /* Цвет текста */

    border-color: var(--button-color-base-border);
    background-color: var(--button-color-base-background);
    color: var(--button-color-base-text);
}
/* CONDITION:base - END */

/* CONDITION:hover - START */
.pot-button {
    --button-color-hover-border: initial;               /* Цвет рамки при наведении */
    --button-color-hover-background: initial;           /* Цвет фона при наведении */
    --button-color-hover-text: initial;                 /* Цвет текста при наведении */
}

.pot-button:hover:not(:disabled) {
    border-color: var(--button-color-hover-border);
    background-color: var(--button-color-hover-background);
    color: var(--button-color-hover-text);
}
/* CONDITION:hover - END */

/* CONDITION:pressed - START */
.pot-button {
    --button-color-pressed-border: initial;             /* Цвет рамки при нажатии */
    --button-color-pressed-background: initial;         /* Цвет фона при нажатии */
    --button-color-pressed-text: initial;               /* Цвет текста при нажатии */
}

.pot-button:active:not(:disabled),
.pot-button:active:hover:not(:disabled) {
    border-color: var(--button-color-pressed-border);
    background-color: var(--button-color-pressed-background);
    color: var(--button-color-pressed-text);
}
/* CONDITION:pressed - END */

/* CONDITION:disabled - START */
.pot-button {
    --button-color-disabled-border: initial;            /* Цвет рамки у неактивной кнопки */
    --button-color-disabled-background: initial;        /* Цвет фона у неактивной кнопки */
    --button-color-disabled-text: initial;              /* Цвет текста у неактивной кнопки */
}

.pot-button:disabled {
    border-color: var(--button-color-disabled-border);
    background-color: var(--button-color-disabled-background);
    color: var(--button-color-disabled-text);
}
/* CONDITION:disabled - END */