.pot-checkbox {
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: inherit;
    font-weight: 400;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    transition: color var(--pot-transition);
}

.pot-checkbox._checked .pot-checkbox__icon {
    transform: scale(1);
}

/* --- PotCheckbox - Disabled --- */
.pot-checkbox._disabled {
    cursor: not-allowed;
}

.pot-checkbox__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    border-style: solid;
    transition:
        color var(--pot-transition),
        border-color var(--pot-transition),
        background-color var(--pot-transition);
}

.pot-checkbox__input {
    display: none;
}

.pot-checkbox__icon {
    width: var(--checkbox-size-icon);
    transform: scale(0);
    transition: transform var(--pot-transition);
}