/* COLORS
--checkbox-color-text                            / Цвет текста
--checkbox-color-background                      / Цвет фона
--checkbox-color-icon                            / Цвет иконки
--checkbox-color-border                          / Цвет рамки

--checkbox-color-hover-text                      / Цвет текста при наведении
--checkbox-color-hover-border                    / Цвет рамки при наведении
--checkbox-color-hover-background                / Цвет фона при наведении
--checkbox-color-hover-icon                      / Цвет иконки при наведении

--checkbox-color-checked-text                    / Цвет текста выбранного чекбокса
--checkbox-color-checked-border                  / Цвет рамки выбранного чекбокса
--checkbox-color-checked-background              / Цвет фона выбранного чекбокса
--checkbox-color-checked-icon                    / Цвет иконки выбранного чекбокса

--checkbox-color-checked-hover-text              / Цвет текста при наведении на выбранный чекбокс
--checkbox-color-checked-hover-border            / Цвет рамки при наведении на выбранный чекбокс
--checkbox-color-checked-hover-background        / Цвет фона при наведении на выбранный чекбокс
--checkbox-color-checked-hover-icon              / Цвет иконки при наведении на выбранный чекбокс

--checkbox-color-disabled-text                   / Цвет текста при наведении на выбранный чекбокс
--checkbox-color-disabled-border                 / Цвет рамки при наведении на выбранный чекбокс
--checkbox-color-disabled-background             / Цвет фона при наведении на выбранный чекбокс
--checkbox-color-disabled-icon                   / Цвет иконки при наведении на выбранный чекбокс
*/

.pot-checkbox {
    color: var(--checkbox-color-text);
}

/* --- PotCheckbox - Hover --- */
.pot-checkbox:not(._disabled):hover {
    color: var(----checkbox-color-hover-text);
}

.pot-checkbox:not(._disabled):hover .pot-checkbox__icon-wrapper {
    background-color: var(--checkbox-color-hover-background);
    border-color: var(--checkbox-color-hover-border);
    color: var(--checkbox-color-hover-icon);
}

/* --- PotCheckbox - Checked --- */
.pot-checkbox:not(._disabled)._checked {
    color: var(--checkbox-color-checked-text);
}

.pot-checkbox:not(._disabled)._checked .pot-checkbox__icon-wrapper {
    background-color: var(--checkbox-color-checked-background);
    border-color: var(--checkbox-color-checked-border);
    color: var(--checkbox-color-checked-icon);
}

/* --- PotCheckbox - Checked - Hover --- */
.pot-checkbox:not(._disabled)._checked:hover {
    color: var(--checkbox-color-checked-hover-text);
}

.pot-checkbox:not(._disabled)._checked:hover .pot-checkbox__icon-wrapper {
    background-color: var(--checkbox-color-checked-hover-background);
    border-color: var(--checkbox-color-checked-hover-border);
    color: var(--checkbox-color-checked-hover-icon);
}

/* --- PotCheckbox - Invalid --- */
.pot-checkbox:not(._disabled)._invalid .pot-checkbox__icon-wrapper {
    background-color: transparent;
    border-color: var(--pot-color-invalid);
    color: var(--pot-color-invalid-text);
}

.pot-checkbox:not(._disabled)._invalid._checked .pot-checkbox__icon-wrapper {
    background-color: var(--pot-color-invalid);
    border-color: var(--pot-color-invalid);
    color: var(--pot-color-invalid-text);
}

/* --- PotCheckbox - Disabled --- */
.pot-checkbox._disabled {
    color: var(--checkbox-color-disabled-text);
}

.pot-checkbox._disabled .pot-checkbox__icon-wrapper {
    background-color: var(--checkbox-color-disabled-background);
    border-color: var(--checkbox-color-disabled-border);
    color: var(--checkbox-color-disabled-icon);
}

.pot-checkbox._disabled._checked .pot-checkbox__icon-wrapper {
    background-color: var(--checkbox-color-disabled-checked-background);
}

.pot-checkbox__icon-wrapper {
    background-color: var(--checkbox-color-background);
    border-color: var(--checkbox-color-border);
    color: var(--checkbox-color-icon);
}

/* SIZES
--checkbox-size-text           / Размер текста
--checkbox-size-height         / Высота
--checkbox-size-icon           / Размер иконки
--checkbox-size-border         / Размер рамки
--checkbox-size-gap            / Размер расстояния между чекбоксом и его текстом
*/
.pot-checkbox {
    gap: var(--checkbox-size-gap);
}

.pot-checkbox__icon-wrapper {
    width: var(--checkbox-size-height);
    border-width: var(--checkbox-size-border);
}

/* RADIUS
--checkbox-radius                / Радиус
*/
.pot-checkbox__icon-wrapper {
    border-radius: var(--checkbox-radius);
}

