/* COLORS */
.pot-link {
    --link-color-text: initial;                              /* Цвет текста */
    --link-color-icon: initial;                              /* Цвет иконки */
    --link-color-line: initial;                              /* Цвет линии */

    --link-color-hover-text: initial;                        /* Цвет текста при наведении */
    --link-color-hover-icon: initial;                        /* Цвет иконки при наведении */
    --link-color-hover-line: initial;                        /* Цвет линии при наведении */

    --link-color-pressed-text: initial;                      /* Цвет текста при нажатии */
    --link-color-pressed-icon: initial;                      /* Цвет иконки при нажатии */
    --link-color-pressed-line: initial;                      /* Цвет линии при нажатии */
    /* ----------------------------------------------------------------------------------------------------- */
    --link-color-active-text: initial;                       /* Цвет текста активной ссылки */
    --link-color-active-icon: initial;                       /* Цвет иконки активной ссылки */
    --link-color-active-line: initial;                       /* Цвет линии активной ссылки */

    --link-color-active-hover-text: initial;                 /* Цвет текста при наведении на активную ссылку */
    --link-color-active-hover-icon: initial;                 /* Цвет иконки при наведении на активную ссылку */
    --link-color-active-hover-line: initial;                 /* Цвет линии при наведении на активную ссылку */

    --link-color-active-pressed-text: initial;               /* Цвет текста при нажатии на активную ссылку */
    --link-color-active-pressed-icon: initial;               /* Цвет иконки при нажатии на активную ссылку */
    --link-color-active-pressed-line: initial;               /* Цвет линии при нажатии на активную ссылку */
    /* ----------------------------------------------------------------------------------------------------- */
    --link-color-disabled-text: initial;                     /* Цвет текста заблокированной ссылки */
    --link-color-disabled-icon: initial;                     /* Цвет иконки заблокированной ссылки */
    --link-color-disabled-line: initial;                     /* Цвет линии заблокированной ссылки */
    /* ----------------------------------------------------------------------------------------------------- */

    color: var(--link-color-text);
}

.pot-link:after {
    background-color: var(--link-color-line);
}

.pot-link__icon {
    color: var(--link-color-icon);
}

.pot-link:hover:not(._disabled, :active) {
    color: var(--link-color-hover-text);
}

.pot-link:hover:not(._disabled, :active):after {
    color: var(--link-color-hover-line);
}

.pot-link:hover:not(._disabled, :active) .pot-link__icon {
    color: var(--link-color-hover-icon);
}

.pot-link:active:not(._disabled) {
    color: var(--link-color-pressed-text);
}

.pot-link:active:not(._disabled):after {
    color: var(--link-color-pressed-line);
}

.pot-link:active:not(._disabled) .pot-link__icon {
    color: var(--link-color-pressed-icon);
}

/* --- PotLink - Active --- */
.pot-link._active:not(._disabled) {
    color: var(--link-color-active-text);
}

.pot-link._active:not(._disabled):after {
    color: var(--link-color-active-line);
}

.pot-link._active:not(._disabled) .pot-link__icon {
    color: var(--link-color-active-icon);
}

.pot-link._active:hover:not(._disabled, :active) {
    color: var(--link-color-active-hover-text);
}

.pot-link._active:hover:not(._disabled, :active):after {
    background-color: var(--link-color-active-hover-line);
}

.pot-link._active:hover:not(._disabled, :active) .pot-link__icon {
    color: var(--link-color-active-hover-icon);
}

.pot-link._active:active:not(._disabled) {
    color: var(--link-color-active-pressed-text);
}

.pot-link._active:active:not(._disabled):after {
    background-color: var(--link-color-active-pressed-line);
}

.pot-link._active:active:not(._disabled) .pot-link__icon {
    color: var(--link-color-active-pressed-icon);
}

/* --- PotLink - Disabled --- */
.pot-link._disabled {
    color: var(--link-color-disabled-text);
}

.pot-link._disabled:after {
    color: var(--link-color-disabled-line);
}

.pot-link._disabled .pot-link__icon {
    color: var(--link-color-disabled-icon);
}

/* SIZES */
.pot-link {
    --link-size-text: initial;           /* Размер текста */
    --link-size-line: initial;           /* Размер подчеркивания */
    --link-size-icon: initial;           /* Размер подчеркивания */

    font-size: var(--link-size-text);
}

.pot-link:after {
    height: var(--link-size-line);
}

.pot-link__icon {
    width: var(--link-size-icon);
}