/* COLORS */
.pot-checkbox {
    --checkbox-color-text: initial;                            /* Цвет текста */
    --checkbox-color-background: initial;                      /* Цвет фона */
    --checkbox-color-icon: initial;                            /* Цвет иконки */
    --checkbox-color-border: initial;                          /* Цвет рамки */
    
    --checkbox-color-hover-text: initial;                      /* Цвет текста при наведении */
    --checkbox-color-hover-border: initial;                    /* Цвет рамки при наведении */
    --checkbox-color-hover-background: initial;                /* Цвет фона при наведении */
    --checkbox-color-hover-icon: initial;                      /* Цвет иконки при наведении */

    --checkbox-color-clicked-text: initial;                    /* Цвет текста при нажатии */
    --checkbox-color-clicked-border: initial;                  /* Цвет рамки при нажатии */
    --checkbox-color-clicked-background: initial;              /* Цвет фона при нажатии */
    --checkbox-color-clicked-icon: initial;                    /* Цвет иконки при нажатии */
    /* ----------------------------------------------------------------------------------------------------- */
    --checkbox-color-checked-text: initial;                    /* Цвет текста выбранного чекбокса */
    --checkbox-color-checked-border: initial;                  /* Цвет рамки выбранного чекбокса */
    --checkbox-color-checked-background: initial;              /* Цвет фона выбранного чекбокса */
    --checkbox-color-checked-icon: initial;                    /* Цвет иконки выбранного чекбокса */
    
    --checkbox-color-checked-hover-text: initial;              /* Цвет текста при наведении на выбранный чекбокс */
    --checkbox-color-checked-hover-border: initial;            /* Цвет рамки при наведении на выбранный чекбокс */
    --checkbox-color-checked-hover-background: initial;        /* Цвет фона при наведении на выбранный чекбокс */
    --checkbox-color-checked-hover-icon: initial;              /* Цвет иконки при наведении на выбранный чекбокс */
    
    --checkbox-color-checked-clicked-text: initial;            /* Цвет текста при нажатии на выбранный чекбокс */
    --checkbox-color-checked-clicked-border: initial;          /* Цвет рамки при нажатии на выбранный чекбокс */
    --checkbox-color-checked-clicked-background: initial;      /* Цвет фона при нажатии на выбранный чекбокс */
    --checkbox-color-checked-clicked-icon: initial;            /* Цвет иконки при нажатии на выбранный чекбокс */
    /* ----------------------------------------------------------------------------------------------------- */
    --checkbox-color-invalid-text: initial;                    /* Цвет текста невалидного чекбокса */
    --checkbox-color-invalid-border: initial;                  /* Цвет рамки невалидного чекбокса */
    --checkbox-color-invalid-background: initial;              /* Цвет фона невалидного чекбокса */
    --checkbox-color-invalid-icon: initial;                    /* Цвет иконки невалидного чекбокса */
    /* ----------------------------------------------------------------------------------------------------- */
    --checkbox-color-disabled-text: initial;                   /* Цвет текста заблокированного чекбокса */
    --checkbox-color-disabled-border: initial;                 /* Цвет рамки заблокированного чекбокса */
    --checkbox-color-disabled-background: initial;             /* Цвет фона заблокированного чекбокса */
    --checkbox-color-disabled-icon: initial;                   /* Цвет иконки заблокированного чекбокса */
    /* ----------------------------------------------------------------------------------------------------- */

    color: var(--checkbox-color-text);
}

/* --- PotCheckbox - Hover --- */
.pot-checkbox:not(._disabled):hover {
    color: var(--checkbox-color-hover-text);
}

.pot-checkbox:not(._disabled):hover .pot-checkbox__icon-wrapper {
    background-color: var(--checkbox-color-hover-background);
    border-color: var(--checkbox-color-hover-border);
    color: var(--checkbox-color-hover-icon);
}

/* --- PotCheckbox - Checked --- */
.pot-checkbox:not(._disabled)._checked {
    color: var(--checkbox-color-checked-text);
}

.pot-checkbox:not(._disabled)._checked .pot-checkbox__icon-wrapper {
    background-color: var(--checkbox-color-checked-background);
    border-color: var(--checkbox-color-checked-border);
    color: var(--checkbox-color-checked-icon);
}

/* --- PotCheckbox - Checked - Hover --- */
.pot-checkbox:not(._disabled)._checked:hover {
    color: var(--checkbox-color-checked-hover-text);
}

.pot-checkbox:not(._disabled)._checked:hover .pot-checkbox__icon-wrapper {
    background-color: var(--checkbox-color-checked-hover-background);
    border-color: var(--checkbox-color-checked-hover-border);
    color: var(--checkbox-color-checked-hover-icon);
}

/* --- PotCheckbox - Invalid --- */
.pot-checkbox:not(._disabled)._invalid .pot-checkbox__icon-wrapper {
    background-color: transparent;
    border-color: var(--pot-color-invalid);
    color: var(--pot-color-invalid-text);
}

.pot-checkbox:not(._disabled)._invalid._checked .pot-checkbox__icon-wrapper {
    background-color: var(--pot-color-invalid);
    border-color: var(--pot-color-invalid);
    color: var(--pot-color-invalid-text);
}

/* --- PotCheckbox - Disabled --- */
.pot-checkbox._disabled {
    color: var(--checkbox-color-disabled-text);
}

.pot-checkbox._disabled .pot-checkbox__icon-wrapper {
    background-color: var(--checkbox-color-disabled-background);
    border-color: var(--checkbox-color-disabled-border);
    color: var(--checkbox-color-disabled-icon);
}

.pot-checkbox._disabled._checked .pot-checkbox__icon-wrapper {
    background-color: var(--checkbox-color-disabled-checked-background);
}

.pot-checkbox__icon-wrapper {
    background-color: var(--checkbox-color-background);
    border-color: var(--checkbox-color-border);
    color: var(--checkbox-color-icon);
}

/* SIZES */
.pot-checkbox {
    --checkbox-size-text: initial;           /* Размер текста */
    --checkbox-size-height: initial;         /* Высота */
    --checkbox-size-icon: initial;           /* Размер иконки */
    --checkbox-size-border: initial;         /* Размер рамки */
    --checkbox-size-gap: initial;            /* Размер расстояния между чекбоксом и его текстом */

    gap: var(--checkbox-size-gap);
}

.pot-checkbox__icon-wrapper {
    width: var(--checkbox-size-height);
    border-width: var(--checkbox-size-border);
}

/* RADIUS */
.pot-checkbox {
    --checkbox-radius: initial;             /* Радиус */
}

.pot-checkbox__icon-wrapper {
    border-radius: var(--checkbox-radius);
}

