/* COLORS */
.pot-radio {
    --radio-color-text: initial;                                /* Цвет текста */
    --radio-color-marker: initial;                              /* Цвет точки маркера */
    --radio-color-marker-border: initial;                       /* Цвет рамки маркера */
    --radio-color-marker-background: initial;                   /* Цвет фона маркера */
    --radio-color-marker-point: initial;                        /* Цвет точки маркера */

    --radio-color-hover-text: initial;                          /* Цвет текста при наведении */
    --radio-color-hover-marker: initial;                        /* Цвет точки маркера при наведении */
    --radio-color-hover-marker-border: initial;                 /* Цвет рамки маркера при наведении */
    --radio-color-hover-marker-background: initial;             /* Цвет фона маркера при наведении */
    --radio-color-hover-marker-point: initial;                  /* Цвет точки маркера при наведении */

    --radio-color-active-text: initial;                         /* Цвет текста при выборе */
    --radio-color-active-marker: initial;                       /* Цвет точки маркера при выборе */
    --radio-color-active-marker-border: initial;                /* Цвет рамки маркера при выборе */
    --radio-color-active-marker-background: initial;            /* Цвет фона маркера при выборе */
    --radio-color-active-marker-point: initial;                 /* Цвет точки маркера при выборе */

    --radio-color-invalid-text: initial;                        /* Цвет текста невалидного элемента */
    --radio-color-invalid-marker: initial;                      /* Цвет точки маркера невалидного элемента */
    --radio-color-invalid-marker-border: initial;               /* Цвет рамки маркера невалидного элемента */
    --radio-color-invalid-marker-background: initial;           /* Цвет фона маркера невалидного элемента */
    --radio-color-invalid-marker-point: initial;                /* Цвет точки маркера невалидного элемента */

    --radio-color-disabled-text: initial;                       /* Цвет текста заблокированного элемента */
    --radio-color-disabled-marker: initial;                     /* Цвет точки маркера заблокированного элемента */
    --radio-color-disabled-marker-border: initial;              /* Цвет рамки маркера заблокированного элемента */
    --radio-color-disabled-marker-background: initial;          /* Цвет фона маркера заблокированного элемента */
    --radio-color-disabled-marker-point: initial;               /* Цвет точки маркера заблокированного элемента */

    color: var(--radio-color-text);
}

.pot-radio__marker {
    border-color: var(--radio-color-marker-border);
    background-color: var(--radio-color-marker-background);
    color: var(--radio-color-marker-point);
}

.pot-radio__marker:before {
    background-color: var(--radio-color-marker-point);
}

/* --- PotRadio - Hover --- */
.pot-radio:not(._disabled, ._active, ._invalid):hover {
    color: var(--radio-color-hover-text);
}

.pot-radio:not(._disabled, ._active, ._invalid):hover .pot-radio__marker {
    border-color: var(--radio-color-hover-marker-border);
    background-color: var(--radio-color-hover-marker-background);
    color: var(--radio-color-hover-marker-point);
}

.pot-radio:not(._disabled, ._active, ._invalid):hover .pot-radio__marker:before {
    background-color: var(--radio-color-hover-marker-point);
}

/* --- PotRadio - Active --- */
.pot-radio:not(._disabled, ._invalid)._active {
    color: var(--radio-color-active-text);
}

.pot-radio:not(._disabled, ._invalid)._active .pot-radio__marker {
    border-color: var(--radio-color-active-marker-border);
    background-color: var(--radio-color-active-marker-background);
    color: var(--radio-color-active-marker-point);
}

.pot-radio:not(._disabled, ._invalid)._active .pot-radio__marker:before {
    background-color: var(--radio-color-active-marker-point);
}

/* --- PotRadio - Invalid --- */
.pot-radio:not(._disabled)._invalid {
    color: var(--radio-color-invalid-text);
}

.pot-radio:not(._disabled)._invalid .pot-radio__marker {
    border-color: var(--radio-color-invalid-marker-border);
    background-color: var(--radio-color-invalid-marker-background);
    color: var(--radio-color-invalid-marker-point);
}

.pot-radio:not(._disabled)._invalid .pot-radio__marker:before {
    background-color: var(--radio-color-invalid-marker-point);
}

/* --- PotRadio - Disabled --- */
.pot-radio._disabled {
    color: var(--radio-color-disabled-text);
}

.pot-radio._disabled .pot-radio__marker {
    border-color: var(--radio-color-disabled-marker-border);
    background-color: var(--radio-color-disabled-marker-background);
    color: var(--radio-color-disabled-marker-point);
}

.pot-radio._disabled .pot-radio__marker:before {
    background-color: var(--radio-color-disabled-marker-point);
}

/* SIZES */
.pot-radio {
    --radio-size-text: initial;           /* Размер текста */
    --radio-size-gap: initial;            /* Расстояние между текстом и маркером */
    --radio-size-marker: initial;         /* Размер маркера */
    --radio-size-marker-border: initial;  /* Толщина рамки маркера */
    --radio-size-marker-point: initial;   /* Размер точки в маркере */

    gap: var(--radio-size-gap);
    font-size: var(--radio-size-text);
}

.pot-radio__marker {
    width: var(--radio-size-marker);
    height: var(--radio-size-marker);
    border-width: var(--radio-size-marker-border);
}

.pot-radio__marker:before {
    width: var(--radio-size-marker-point);
}

/* RADIUS */
.pot-radio {
    --radio-radius: initial;              /* Радиус */
}

.pot-radio__marker {
    border-radius: var(--radio-radius);
}
