/* CONFIGURATION:size - START */
.pot-button {
    --button-size-height: initial;              /* Высота */
    --button-size-padding: initial;             /* Паддинг */
    --button-size-border: initial;              /* Размер рамки */
    --button-size-text: initial;                /* Размер текста */
    --button-size-gap: initial;                 /* Паддинг текста */
    --button-size-icon: initial;                /* Размер иконки */

    gap: var(--button-size-gap);
    height: var(--button-size-height);
    padding: 0 var(--button-size-padding);
    border-width: var(--button-size-border);
    font-size: var(--button-size-text);
}
/* CONFIGURATION:size - END */

/* CONFIGURATION:radius - START */
.pot-button {
    --button-radius: initial;                  /* Радиус */

    border-radius: var(--button-radius);
}
/* CONFIGURATION:radius - END */