/* CONFIGURATION:gap - START */
.pot-grid {
    --grid-gap: initial;                  /* Расстояние между элементами */
    --grid-row-gap: initial;              /* Расстояние между рядами */
    --grid-column-gap: initial;           /* Расстояние между колонками */

    gap: var(--grid-gap);
}

.pot-grid._divided-gap {
    row-gap: var(--grid-row-gap);
    column-gap: var(--grid-column-gap);
}
/* CONFIGURATION:gap - END */ 