/* CONFIGURATION:size - START */
.pot-link {
    --link-size-text: initial;           /* Размер текста */
    --link-size-line: initial;           /* Размер подчеркивания */
    --link-size-icon: initial;           /* Размер подчеркивания */

    font-size: var(--link-size-text);
}

.pot-link:after {
    height: var(--link-size-line);
}

.pot-link__icon {
    width: var(--link-size-icon);
}
/* CONFIGURATION:size - END */
